* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Droid Serif', sans-serif;
*/

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.header {
    padding: 30px 0;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.container {
    padding: 0 75px;
}

.left {
    width: 20%;
    float: left;
}

.left a {
    color: #fed136;
    font-size: 1.75em;
    text-decoration: none;
    font-family: 'Kaushan Script', cursive;

}

.right {
    width: 46%;
    float: right;
    padding-top: 10px;
    padding-left: 7px;
}

.right ul {
    list-style: none;
}

.right ul li {
    float: left;
    font-size: 14.4px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
}

.right ul li:hover {
    color: #fed136;
}

.first {
    padding: 13.9rem 0;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.first h3 {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    font-family: 'Droid Serif', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
    padding-top: 80px;
}

.first h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.first a {
    font-size: 18px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: #fed136;
    padding: 20px 40px;
    text-transform: uppercase;
    border-radius: 0.25rem;
    font-weight: 700;
    transition: 0.15s;
}

.first a:hover {
    background-color: #fec503;
}

.second {
    padding: 100px 0 400px;
    text-align: center;
}

.second-text h2 {
    font-size: 40px;
    color: #212529;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}

.second-text h3 {
    font-size: 16px;
    color: #6c757d;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    font-family: 'Droid Serif', sans-serif;
    line-height: 1.2;
}

.second-box {
    width: 100%;
}

.second-box .second-icon {
    float: left;
    width: 33%;
    padding: 0 15px;
}

.second-icon i {
    color: #fff;
    background-color: #fed136;
    font-size: 4em;
    border-radius: 50%;
    padding: 30px;
}

.second-icon h4 {
    margin: 15px 0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #000;
}

.second-icon p {
    color: #6c757d;
    line-height: 1.75;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

.clear {
    clear: both;
}

.third {
    padding: 6rem 0 5rem;
    text-align: center;
    background-color: #f8f9fa;
}

.third-text h2 {
    font-size: 40px;
    color: #212529;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}

.third-text h3 {
    font-size: 16px;
    color: #6c757d;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    font-family: 'Droid Serif', sans-serif;
    line-height: 1.2;
}

.third-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 990;
}

.third-box .third-image {
    width: 30%;
    margin: 0 21px 30px;
    background-color: #fff;
    padding-bottom: 30px;
}

.third-box img {
    width: 100%;
}

.third-image .image-bottom {
    padding-top: 20px;
}

.third-image h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #212529;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

.third-image p {
    font-size: 16px;
    font-style: italic;
    color: #6c757d;
    line-height: 1.75;
    font-family: 'Droid Serif', sans-serif;
}

.third-image .image-top {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: rgba(254,209,54);
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
}

.third-image .image-top:hover .overlay {
    opacity: 0.9;
}

.third-image .image-top:hover i {
    opacity: 1;
}

.third-image .image-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.8rem;
    opacity: 0;
    cursor: pointer;
}

.about {
    padding: 5rem 0 5rem 0;
}

.about-text h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #212529;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about-text h3 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    font-family: 'Droid Serif', sans-serif;
    color: #6c757d;
    line-height: 1.2;
    text-align: center;
}

.about-all-first{
    display: flex;
    justify-content: space-around;
    margin-bottom: 7rem;
}

.about-first-left {
    width: 30%;
    margin-left: 50px;
}

.about-first-middle {
    width: 56%;
}

.about-first-left h4 {
    color: #212529;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-align: right;
}

.about-first-left p {
    color: #6c757d;
    line-height: 1.75;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
}

.about-first-middle img{
    border-radius: 50%;
    border: 7px solid #e9ecef;
    width: 30%;
}

.about-all-second{
    display: flex;
    justify-content: space-around;
    margin-bottom: 7rem;
}

.about-second-right {
    width: 30%;
    margin-right: 50px;
}

.about-second-middle {
    width: 56%;
}

.about-second-right h4 {
    color: #212529;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-align: left;
}

.about-second-right p {
    color: #6c757d;
    line-height: 1.75;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.about-second-middle img{
    border-radius: 50%;
    border: 7px solid #e9ecef;
    width: 30%;
    margin-left: 27.5rem;
}

.about-first-last {
    padding-left: 1rem;
    position: relative;
}

.about-first-last h4{
    background-color: #fed136;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 170px;
    height: 170px;
    color: #fff;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    margin-top: 50px;
}

.fourth {
    text-align: center;
    padding: 5rem 0;
    background-color: #f8f9fa;
}

.fourth-text h2 {
    font-size: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    line-height: 1.2;
}

.fourth-text h3 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    font-family: 'Droid Serif', sans-serif;
    color: #6c757d;
    line-height: 1.2;
}

.fourth .fourth-box {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.fourth .image-box {
    width: 20%;
    padding-bottom: 45px;
}

.fourth .image-box img {
    width: 100%;
    border: 7px solid rgba(0,0,0,.1);
    border-radius: 50%;

}

.fourth .fourth-box h4 {
    margin-top: 25px;
    color: #212529;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.fourth .fourth-box p {
    color: #6c757d;
    line-height: 1.75;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1rem;
}

.fourth-box i {
    color: #fff;
    font-size: 20px;
    background-color: #212529;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px;
}

.fourth-box i:hover {
    background-color: #fed136;
}

.fourth p {
    color: #6c757d;
    line-height: 1.75;
    margin-bottom: 1rem;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.fifth {
    padding: 3rem 0;
}

.fifth .fifth-box {
    display: flex;
    justify-content: space-around;
}

.sixth {
    text-align: center;
    padding: 7rem 0;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/map-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #212529;
}

.sixth-text h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.sixth-text h3 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    font-family: 'Droid Serif', sans-serif;
    color: #6c757d;
    line-height: 1.2;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 40px;
}

.contact .left input {
    padding: 20px;
    width: 170%;
    height: 25%;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 15px 0;
    font-family: 'Montserrat', sans-serif;
}

.contact .right textarea {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 310px;
    width: 400px;
}

.contact .left {
    width: 25%;
}

.contact .right {
    padding-top: 14px;
}

.sixth a {
    font-size: 18px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: #fed136;
    padding: 20px 40px;
    text-transform: uppercase;
    border-radius: 0.25rem;
    font-weight: 700;
    transition: 0.15s;
}

.sixth a:hover {
    background-color: #fec503;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    text-align: center;
}

.footer p {
    font-size: 14.4px;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
}

.footer .a-box {
    padding-top: 12px;
}

.footer a {
    text-decoration: none;
    color: #fed136;
    font-size: 14.4px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 5px;
}

.footer a:hover {
    color: #fec503;
    text-decoration: underline;
}

.footer i {
    color: #fff;
    font-size: 20px;
    background-color: #212529;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px;
}

.footer i:hover {
    background-color: #fed136;
}
